.pad {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 1px;
  transition: background-color 0.05s;
  background-color: white;
}

.pad.inactive {
  background-color: dimgrey;
}
